/****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  margin: 0;
  color: #000000;
  background: #FFFFFF;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-weight: normal;
  font-size: small;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }

/* SITE STYLES */
.site {
  width: 960px; 
  margin: 0 auto;
  border: 1px solid black;
}

.site:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

/*SIDEBAR STYLES*/

.sidebar {
  width: 314px;
  float: right;
  border: 1px dashed gray;
  margin-top: 25px;
}

#right {
  width: 310px;
  height: 57px;
  margin-top: 25px;
  padding-left: 17px;
  /* border: 1px solid black; */
}

#right a.img:hover {
  color: #D3D3D3;
}

.sponsor {
  width: 310px;
  height: 57px;
  margin-top: 25px;
  font-size: 24px;
  text-align: center;
  /* border: 1px solid black; */
}

.sponsor a {
  text-decoration: none;
  color: black;
}

.img-me {
  margin-top: 25px;
  margin-left: 2px;
}

.blog-roll {
  padding-left: 20px;
  margin-top: 25px;
}

/*HEADER STYLES*/

.header {
}

.header:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.top-nav {
  width: 960px;
  height: 47px;
  background-color: #D3D3D3;
  display: block;
}

.top-nav:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.nav-links {
  display: block;
  float: left;
  width: 960px;
  height: 57px;
  margin: 14px 0 0 0;
  overflow: hidden;
  border: 0px solid #efefef;
  color: black;
}

.nav-list-item {
  float: left;
  height: 57px;
  width: 115px;
  margin: 0;
  padding: 0 0 0 6px;
  list-style-type: none;
  color: #656565;
}

#nav-search {
  float: right;
  width: 180px;
  height: 24px;
  display: inline-block;
  list-style-type: none;
}

#nav-search form input#search-q {
  width: 150px;
  height: 24px;
  margin: 0;
  padding: 0 20px 0 2px;
  background-color: white;
  outline-width: 0;
  border: 1px solid #adadad;
  background: #fff url(../images/search.jpg) right 4px no-repeat;
  font-size: 1.2em;
}

#nav-search form input[type=submit]#search-submit {
  margin: 0;
  padding: 0;
  vertical-align: top;
  color: transparent;
  background: none;
  border: 0;
  color: #ff0000;
  width: 25px;
  height: 20px;
}

.left-header {
  float: left;
  display: inline-block;
  width: 502px;
  margin-top: -20px;
}

.name {
  width: 460px;
  height: 130px;
  float: left;
  font-size: 76px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 20px;
  padding: 20px;
  /* border: 1px solid black; */
}

.logo-img {
  float: right;
  margin: 20px;
  padding: 20px;
  display: inline-block;
  margin: auto;
}

.middle-nav {
  width: 460px;
  height: 50px;
  /* border: 1px solid black; */
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

ul#menu {
  position: relative;
  top: 0;
  display: block;
  width: 460px;
  height: 50px;
  margin: 0;
  list-style-type: none;
  font-family: Florencesans, Helvetica, Arial, sans-serif;
  overflow: hidden;
  border-bottom: 1px dotted #bbb;
}

ul#menu li {
  float: left;
  border-radius: 10px;
  padding: 11px;
  margin: 2px;
}

#menu_coding {
  background-color: #48D1CC;
}

#menu_music {
  background-color: #C71585;
}

#menu_memoirs {
  background-color: #9370DB;
}

#menu_fashion {
  background-color: #FF1493;
}

.header a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

/* CONTENT STYLES */

#content { 
  float: left; 
  width: 630px;  
  border: 1px dashed gray;
  margin-top: 25px;
  padding: 5px;
}
