<!-- header -->
<div class="header">


              <div class="top-nav">
                <ul class="nav-links">
                  <li class="nav-list-item"><a href="" title="Home">Home</a></li>
                  <li class="nav-list-item"><a href="about.html" title="About">About</a></li>
                  <li class="nav-list-item"><a href="" title="Contact">Contact</a></li>
                  <li class="nav-list-item"><a href="" title="Sponsors">Sponsors</a></li>               
                    <div id="nav-search">
                      <form id="search-blog" method="get" action="">
                        <input type="search" name="filter.q" id="search-q" value="">
                        <input type="submit" value="" id="search-submit">
                      </form>
                    </div>
                </ul>
              </div>

              <div class="logo-img"><img src="images/logo.jpg"></div>

              <div class="left-header">
                <div class="name"><img src="images/name.jpg"></div>

                <div class="middle-nav">
                  <ul id="menu" class="nav-list pkg">
                     <li id="menu_coding" title="Coding"><a href="">Coding</a></li>
                     <li id="menu_music" title="Music"><a href="">Music</a></li>
                     <li id="menu_memoirs" title="Memoirs"><a href="">Memoirs</a></li>
                     <li id="menu_fashion" title="Fashion"><a href="">Fashion</a></li>
                  </ul>
                </div>
              </div>

            
</div>