<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mantis Rose</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="http://static.typepad.com/.shared:va4a342c:typepad:en_us/themes/common/print.css" type="text/css" media="print">

    </head>
    <body>
      <div class="site">
  
        {% include header.html %}
  
        {% include sidebar.html %}

        <div id="content">
          {{ content }}
        </div> <!-- index.html on the homepage, about.html on about page, etc -->

      </div>

    </body>
</html>
